# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAT07qPBMudS0PF6-Ir-aQQhGUPJKE54n4
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=ia-agente-b2f46.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=ia-agente-b2f46
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=ia-agente-b2f46.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=915148785133
NEXT_PUBLIC_FIREBASE_APP_ID=1:915148785133:web:90e381fe612842769e53e4
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-QTLFRJE275

# App Configuration - IMPORTANTE: Apenas letras, sem caracteres especiais!
NEXT_PUBLIC_APP_ID=whatsappsalesagent
