# Configurações do Servidor
PORT=3001
NODE_ENV=development

# Firebase
FIREBASE_DATABASE_URL=https://ia-agente-b2f46.firebaseio.com

# URLs
FRONTEND_URL=http://localhost:3000
FRONTEND_URL_PROD=https://ia-agente.vercel.app

# AWS SES (Email)
AWS_ACCESS_KEY_ID=sua_access_key_aqui
AWS_SECRET_ACCESS_KEY=sua_secret_key_aqui
AWS_SES_REGION=us-east-1
AWS_SES_FROM_EMAIL=noreply@seudominio.com

